body {
  color: #2F004F;
  background-color: #FCE0F2;
  text-transform: uppercase;
  font-family: 'Nunito', serif;
  font-style: normal;
	font-variant: normal;
	font-weight: lighter;
  width: 800px;
  margin: auto;
}

header {
  margin-top: 30px;
  height: 300px;
}

h1{
	font-size: 48px;
	line-height: 48px;
  text-align: left;
  letter-spacing: 4px;
}

h2 {
  margin-top: 10px;
  font-size: 42px;
  letter-spacing: 4px;
  float: left;
}

footer {
  clear: left;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 800px;
  text-transform: lowercase;
  font-size: 17px;
  background-color: #FCE0F2;
  color: #2F004F;
}

footer a {
text-decoration: none;
color: #2F004F;
}
